// sass-lint:disable-all

@font-face {
  font-family: "NotoSansKR";
  src: url("../../public/assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}